@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');

body{
    width: 900px;
    margin: auto;
}


header{
    height: 75px;
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    align-items: center;
}

header h1{
    margin: 0;
    font-family: 'Yellowtail', cursive;
    font-size: 8mm;

}

header p {
    margin: 0;
    font-size: 2.5mm;
}

header nav {
    text-align: right;
}

hr{
    height: 20px;
    background-image: url(./img/hr-img.png);
    background-repeat: repeat-x;
    border: none;
}

main h1{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

main article  p {
    margin: 0;
}

.print{
    width: 100%;
    text-align: right;
}

.mainpic{
    margin-top: 15px;
}

body p * {
    font-family: 'PT Serif', serif;
    font-weight: 300;
}
.list{
    position: absolute;
}

.list1{
    position: relative;
    top: 44px;
    left: 80px;
}

.list2{
    position: relative;
    top: 44px;
    left: 80px;
}
.lists{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.section{
    height: 314px;
}

.footergrid{
    display: grid;
    grid-template-columns: 100px 1fr 200px;
}

footer article {
    margin-top: -18px;
}

footer button {

    height: 50px;
    background-color: rgb(158, 2, 2);
    color: white;
 
 
 }

 .footer2{
     text-align: center;
     margin-top:30px ;
 }
 footer ul {
    list-style: none;
 }